*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  font-family: Rubik, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #0d1323;
  padding: 1rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* end of css reset */

:root {
  /* primar colors */

  --Blue: hsl(246, 80%, 60%);

  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: #4bcf83;
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-selfcare: hsl(43, 84%, 65%);
  /* neutral colors */

  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}
main {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  .report {
    grid-row: span 2;

    div:nth-child(1) {
      height: fit-content;
      background-color: var(--Blue);
      width: calc(100% + 3rem);
      margin-left: -1.5rem;
      margin-top: -1.5rem;
      border-radius: 15px;
      padding: 1.5rem 1.5rem 6rem;
    }

    img {
      border-radius: 50%;
      border: 3px solid white;
      width: 75px;
      height: 75px;
    }

    h1 {
      color: var(--Pale-Blue);
      font-size: 1rem;
      font-weight: 500;
      margin-top: 1rem;
    }

    b {
      color: white;
      font-weight: 300;
      font-size: 2.75rem;
      display: block;
    }

    div:nth-child(2) {
      display: flex;
      flex-direction: column;
      background-color: transparent !important;
      border-radius: 0;
      gap: 1rem;
      align-items: flex-start;
      margin: 1.5rem 0 0 0;
      height: auto;
    }

    button {
      background-color: transparent;
      border: 0;
      color: var(--Pale-Blue);
    }
    button:hover {
      color: white;
    }
    button:nth-child(1) {
      color: white;
    }
  }

  section:hover {
    background-color: #34397b;
  }
  section {
    padding: 1.5rem;
    border-radius: 15px;
    max-width: 300px;
    background-color: var(--Dark-blue);

    div:nth-child(1) {
      width: calc(100% + 3rem);
      height: 35px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      margin: -1.5rem 0 1rem -1.5rem;
      background-repeat: no-repeat;
      background-position: right;
    }
    div:nth-child(2) {
      display: flex;
      align-items: center;
    }
    img:hover {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
        hue-rotate(93deg) brightness(103%) contrast(103%);
    }
    h1 {
      color: white;
      font-weight: 500;
      font-size: 1.5rem;
      margin-right: auto;
    }
    h2 {
      font-weight: 300;
      color: white;
      font-size: 4rem;
    }

    h3 {
      color: var(--Pale-Blue);
      font-weight: 400;
    }
    .weekly-h2,
    .monthly-h3,
    .weekly-h3,
    .monthly-h2 {
      display: none;
    }
  }

  .work-bg {
    background-color: var(--Light-red-work);
    background-image: url(images/icon-work.svg);
  }
  .play-bg {
    background-color: var(--Soft-blue-play);
    background-image: url(images/icon-play.svg);
  }
  .study-bg {
    background-color: var(--Light-red-study);
    background-image: url(images/icon-study.svg);
  }
  .exercise-bg {
    background-color: var(--Lime-green-exercise);
    background-image: url(images/icon-exercise.svg);
  }
  .social-bg {
    background-color: var(--Violet-social);
    background-image: url(images/icon-social.svg);
  }
  .selfcare-bg {
    background-color: var(--Soft-orange-selfcare);
    background-image: url(images/icon-self-care.svg);
  }
}
.daily {
  .daily-h2,
  .daily-h3 {
    display: block;
  }
  .weekly-h2,
  .monthly-h3,
  .weekly-h3,
  .monthly-h2 {
    display: none;
  }

  button:nth-child(1) {
    color: white;
  }
  button:nth-child(2),
  button:nth-child(3) {
    color: var(--Pale-Blue);
  }
  button:hover {
    color: white;
  }
}

.weekly {
  .weekly-h2,
  .weekly-h3 {
    display: block;
  }
  .daily-h2,
  .daily-h3,
  .monthly-h3,
  .monthly-h2 {
    display: none;
  }

  button:nth-child(2) {
    color: white !important;
  }
  button:nth-child(1),
  button:nth-child(3) {
    color: var(--Pale-Blue) !important;
  }
  button:hover {
    color: white !important;
  }
}

.monthly {
  .monthly-h2,
  .monthly-h3 {
    display: block;
  }
  .daily-h2,
  .daily-h3,
  .weekly-h3,
  .weekly-h2 {
    display: none;
  }

  button:nth-child(3) {
    color: white !important ;
  }
  button:nth-child(1),
  button:nth-child(2) {
    color: var(--Pale-Blue) !important;
  }
  button:hover {
    color: white !important;
  }
}
@media (max-width: 70em) {
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  section {
    max-width: 10000px !important;
    width: 100%;
  }
}
